
	<div class="flex justify-around w-full bg-[#0100D3] text-white shadow-md h-12 sticky top-0 z-50" >
		<div class="flex justify-items-center gap-4 items-center">
		  <a href="mailto:janet.g.arcodisic@gmail.com" class="text-x font-bold hidden md:flex lg:flex xl:flex">
			<i class="fas fa-envelope"></i>
			janet.g.arcodisic@gmail.com
		  </a>
		  <a href="tel:+525516193248" class="text-x font-bold">
			<i class="fas fa-phone"></i>
			+52 5516193248
		  </a>
		</div>
		<div class="   absolute py-2 px-1 md:right-7 sm:right-2 lg:right-10 right-0 "> 
			<button class="text-black duration-300  py-1 px-2 bg-[#D9D9D9] rounded-md focus:outline-none hover:bg-blue-200"><a href="/contact"></a>Cotizar</button>
		</div>
	  </div>

	  