---
import Layout from '../layouts/Layout.astro';

import Header from '../components/ui/indexui/Header.astro';
import Galeria from '../components/ui/indexui/Galeria.astro';
import Accesos from '../components/ui/indexui/Accesos.astro';
import Contacto from '../components/ui/indexui/ContactoSeccion.astro';
import Footer from '../components/ui/indexui/FooterPrincipal.astro';
import Map from '../components/ui/indexui/Map.astro';
import Procesos from '../components/ui/indexui/ProcesosDos.astro';
import Separador from '../components/ui/indexui/separadores/Separador.astro';

const metadata = {
  title: 'Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
	
	<main>

		<Header />
		<Separador separador="Accesos" />
		<Accesos />
		<Separador separador="Galeria" />
		<Galeria />
		<Separador separador="Procesos" />
		<Procesos />
		<Separador separador="Contacto" />
		<Contacto />
	</main>
		<Separador separador="Mapa" />
		<Map />
		<Footer />
		<form name="contact" netlify>
			<p>
			  <label>Name <input type="text" name="name" /></label>
			</p>
			<p>
			  <label>Email <input type="email" name="email" /></label>
			</p>
			<p>
			  <button type="submit">Send</button>
			</p>
		  </form>
	
	 <br>
	 <form name="contacto" method="POST" data-netlify="true">
		<p>
		  <label>Your Name: <input type="text" name="name" /></label>
		</p>
		<p>
		  <label>Your Email: <input type="email" name="email" /></label>
		</p>
		<p>
		  <label>Your Role: <select name="role[]" multiple>
			<option value="leader">Leader</option>
			<option value="follower">Follower</option>
		  </select></label>
		</p>
		<p>
		  <label>Message: <textarea name="message"></textarea></label>
		</p>
		<p>
		  <button type="submit">Send</button>
		</p>
	  </form>
	  
	  
</Layout>
