---
import Layout from '~/layouts/Layout.astro';

import Header from '../components/ui/indexui/Header.astro';
import Galeria from '../components/ui/indexui/Galeria.astro';
import Accesos from '../components/ui/indexui/AccesosCard.astro';
import Contacto from '../components/ui/indexui/ContactoSeccion.astro';
import Procesos from '../components/ui/indexui/ProcesosDos.astro';
import Separador from '../components/ui/indexui/separadores/Separador.astro';
import Whatsapp from '../components/ui/indexui/Whats.astro';


const metadata = {
  title: 'Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
	
	<main>

		<Header />
		<Whatsapp />
		<Separador separador="Accesos" />
		<Accesos />

		<Separador separador="Galeria" />
		<Galeria />
		<Separador separador="Procesos" />
		<Procesos />
		

		
		<Separador separador="Contacto" />
		<Contacto />

	
		
	</main>
	

	  
</Layout>



