---
import Separador from '../components/ui/indexui/separadores/Separador.astro';
import Layout from '~/layouts/Layout.astro';

const metadata = {
  title: 'Arcotechos y Gruas',
};
import appStoreImg from '~/assets/images/8.jpeg';
import appStoreImgdos from '~/assets/images/7.jpeg';
---

<Layout metadata={metadata}>
  
  <Separador separador="Servicios y Catalogo"/>
  <section class="text-gray-900 dark:text-gray-100 body-font gap-5">
    <div class="gap-5 container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <!-- Imagen principal -->
      <div class="lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img
          class="object-cover object-center rounded w-full h-full"
          alt="hero"
          src={appStoreImg.src}
        />
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-100">
          Arcotechos e Innovaci칩n en 
          <br class="hidden lg:inline-block">Cubiertas Met치licas
        </h2>
        <p class="mb-8 leading-relaxed">
          Explora Nuestra Gama de Soluciones para Techos Industriales y Comerciales.
        </p>
        <div class="flex justify-center">
          <button class=" inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">
            Cotiza
          </button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="text-gray-900 dark:text-gray-100 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-100">
          Eleva tu Proyecto con 
          <br class="hidden lg:inline-block">Gruas de Alto Rendimiento
        </h1>
        <p class="mb-8 leading-relaxed">
          Descubre Nuestra Selecci칩n de Gruas para Construcci칩n y Cargas Pesadas.
        </p>
        <div class="flex justify-center">
          <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Catalogo de Gruas
          </button>
        </div>
      </div>
      <!-- Imagen secundaria -->
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img
          class="object-cover object-center rounded w-full h-full"
          alt="hero"
          src={appStoreImgdos.src}
        />
      </div>
    </div>
  </section>
  
  
</Layout>
